*{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
}

/* DESKTOP FORNTEND */

body {
    background-color: #FFFFFF;
    width: 1440px;
}


.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#logo{
    width: 107px;
    height: 25px;
}

/* ESTILO DE ENCABEZADO */

.cnt-encabezado{
    width: 100%;
    height: 174px;                      /*PROBAR CON 25vh */
    justify-content: space-around;
    align-items: center;
}

.cnt-nav-encabezado{
    width: 397px;
    height: 23px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #242E52;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px; 
}

.links-nav:hover{
    color: #242E5299;
}

.boton{
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    width: 134PX;
    height: 44px;
    border-radius: 50px;
    border: none;  
    cursor: pointer;
}

.cnt-encabezado button{
    box-shadow: 0px 4px 7px rgba(0,0,0,0.25);
}
.mobile{
    display: none;
    width: 46px;
    height: 41px;
}

/* ESTILO DE LA PORTADA PRINCIPAL */

.cnt-portada{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 643px;
    gap: 100px;
}

.cnt-home{
    align-items: flex-end;
    justify-content: space-between;
    width: 450px;
    height: 399px;
    text-align: right;
    order: 1;
}

.sub-portada{
    align-items: center;
    letter-spacing: -0.035em; /* Agregue esto del figma para que quede mas prolijo */
    width: 100%;
    height: 228px;
    color: #232C50;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
}

.parrafo-portada{
    align-items: center;
    width: 100%;
    height: 71px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}





/* ESTILO A LA PARTE PRINCIPAL DEL LA PAGINA WEB */

.cnt-section1{
    align-items: flex-end;
    width: 100%;
    height: 264px;
}
.cnt-section1-main{
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    width: 100%;
    height: 168px;
    gap: 100px;
}

.sub-section1-main{
    color: #FFFFFF;
    width: 450px;
    height: 88px;  
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
}

.parrafo-section1-main{
    color: #FFFFFF;
    width: 450px;
    height: 88px;
    font-weight: 500;
    line-height: 24px;
}

/* ESTILO PARA LAS CARDS N° 1,2,3*/

.cnt-section2-main{
    width: 100%;
    height: 428px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado-section2{
    width: 100%;
    height:43px;
    align-items: center;
}

.cnt-section2-divs{
    margin-left: 50px;
    flex-wrap: wrap;
    width: 553px;
    height: 158px;
}

.indice{
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    color: #FFFFFF;
    background-color: #8B48BF;
    width: 69px;
    height:43px;
    border-radius: 30px;
    font-weight: 700;
    line-height: 23px;
    border: none;
}

.titulo-section2{
    color: #323851;
    height: 23px;
    font-weight: 700;
    line-height: 23px;
}

.parrafo-section2{
    margin-left: 92px;
    width: 437px;
    height: 104px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}


.cnt-sub-main{
    width: 100%;
    height: 61px;
    justify-content: center;
    align-items: center;
}

.sub-main{
    text-align: center;
    color: #242E53;
    width: 424px;
    height:61px;
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
       /* COMO CENTARR ESTO? */
}

.cnt-cards{
    margin-top: 74px;
    justify-content: center;
}
.cards{
    width: 403px;
    height: 237px;
    align-items: center;
    margin: 0px 10px;
}
.cards img{
    width: 70px;
    height: 70px;
}

.cards h4{
    color: #3F4868;
    height: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin-top: 19px;
    text-align: center;
}
.cards p{
    margin-top: 21px;
    color: #B9B9C1;
    height: 100px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}



.btn-main{
    justify-content: center;
    margin-top: 45px;
}


.btn-more:hover{
    background-color: #8B48BFB2; /* COPIE EL COLOR DEL FIGA PORQUE NO SE EL COLOR EXACTO EN RGBA */
}



.cnt-section3-main{
    height: 224px;
    background-color: #8B48BF;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.cnt-section3{
    justify-content: space-between;
    align-items: center;
    width: 1065px;
    height: 96px;
}

.cnt-section3 h2{
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 393px;
    height: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
}

.cnt-section3 button{
    color: #8B48BF;
    background-color: #FFFFFF;
}


/* ESTILO PARA EL FOOTER */

.cnt-footer{
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #1E1E26;
    height: 247px;
}

.logo-iconos{
    justify-content: space-around;
}

.iconos-footer{
    
    justify-content: space-between;
    width: 154px;
    height: 22px;
}

.iconos-footer i{
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

.enlaces-footer{
    justify-content: space-between;
    align-items: center;
    width: 392px;
    height: 100%;
}

.nav1-footer{
    justify-content: space-between;
    width: 69px;
    height:128px;
}

.enlaces-footer a{
    width: 100%;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.nav2-footer{
    justify-content: space-between;
    width: 105px;
    height: 93px;
}

.form-copy{
    justify-content: space-around;
    height: 100%;
}

.form-suscribcion{
    align-items: center;
    width: 272px;
    height: 48px;
}

.suscribcion{
    width: 201px;
    height: 44px;
    border-radius: 50px;
    padding-left: 10px;
    outline: none;
}

.suscribcion::placeholder{
    color: #A0A0A0;
    width: 143px;
    height: 19px;
    font-size: 13.18px;
    font-weight: 600;
    line-height: 19px;
    border: 0;
}


.form-suscribcion button{
    cursor: pointer;
    background-color: #8B48BF;
    color: #FFFFFF;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    outline: none;
    border: 0;
}

.copyright{
    justify-content: flex-end;
    width: 100%;
    height: 21px;
}

.copyright p{
    color: #8C8C94;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.26px;
}

.copy2{
    display: none;
}



/* ESTILO PARA MOBILE */

@media screen and (max-width: 480px){
    body, .img-portada{
        width: 480px;
        
    }

    .nav-header, .btn-header, .sanyo, .navarro{
        display: none;
    }
    
    .mobile, .copy2{
        display: block;
    }

    .cnt-portada{
        height: 840px;
    }
    
    .cnt-portada, .cnt-section1-main, .cnt-section2-main, .cnt-section3 {
        flex-direction: column;
    }

    /* HASTA ACA ESTA TODO OK */
    .cnt-home{
        gap: 28px;
    }
    .cnt-section1{
        height: 306px;
        margin-top: 60px;
    }
    
    .cnt-section1-main{
        height: 100%;
        background-color: #3CDDF3;
        gap: 50px;
    }

    .cnt-section2-main{
        width: 100%;
        height: 682px;
        flex-wrap: nowrap;
    }

    .cnt-section2-divs{
        width: 466px;
        height: 214px;
        margin-left: 0; 
    }

    .titulo-section2{
        background-color: #8B48BF4D;
        justify-content: center;
        align-items: center;
        width: 466px;
        height: 43px;
        border-radius: 50px 0px 0px 50px;
    }
    .indice{
        margin-right: 0;
        position: absolute;
    }
    .parrafo-section2{
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .cnt-section3-main{
        height: 366px;
        background-color: #3CDDF3;
        margin-top: 58px;
        
    }

    .cnt-section3{       
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 50px;
    }

    .cnt-section3 h2{
        align-items: center;
        text-align: center;
        font-size: 40px;
        line-height: 60px;
        width: 324px;
        height: 192px;
    }

    .cnt-section3 button{
        color: #FFFFFF;
        background-color: #232C50;
    }

    .cnt-footer, .logo-iconos{
        height: 534.71px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 25px;
    }
    

    .form-copy{
        height: 69px;
        align-items: center;
    }
    .enlaces-footer{
        justify-content: center;
        width: 100%;
        height: 161px;
        gap: 150px;
    }

    

    .logo-iconos{
        height: 112px;
        align-items: center;
    }

    .iconos-footer{
        width: 80%;
        justify-content: space-around;
    }

    .copy1{
        display: none;
    }
}